@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');


.header {
  display: flex;
  align-items: center;
  justify-content: center; /* 修改为center以居中标题 */
  background-color: #f0f2f5;
  padding: 10px;
  flex-shrink: 0;
}

.backButton {
  position: absolute;
  top:3%;
  left: 4%; /* 或者根据需要调整 */
}

.fancyTitle {
  font-family: 'Rubik Bubbles', sans-serif;
  color: #1890ff; /* 字体颜色 */
  /* 添加更多花哨的样式，例如文字阴影、大小调整等 */
}
